<!-- Sidebar START -->
<nav
	class="navbar sidebar navbar-expand-xl navbar-light">
	<!-- Navbar brand for xl START -->
	<div class="d-flex align-items-center">
		<a class="navbar-brand" href="index.html">
			<img class="light-mode-item navbar-brand-item" src="{{asset('assets/images/logo.png')}} " alt="logo">
			<img class="dark-mode-item navbar-brand-item" src="{{asset('assets/images/logo-light.png')}}" alt="logo">
		</a>
	</div>
	<!-- Navbar brand for xl END -->

	<div class="offcanvas offcanvas-start flex-row custom-scrollbar h-100" data-bs-backdrop="true" tabindex="-1" id="offcanvasSidebar">
		<div
			class="offcanvas-body sidebar-content d-flex flex-column pt-4">

			<!-- Sidebar menu START -->
			<ul
				class="navbar-nav flex-column" id="navbar-sidebar">
				<!-- Menu item -->
				<li class="nav-item">
					<a href="admin-dashboard.html" class="nav-link active">Dashboard</a>
				</li></ul>
			<!-- Sidebar menu end -->

			<!-- Sidebar footer START -->
			<div class="d-flex align-items-center justify-content-between text-primary-hover mt-auto p-3">
				<a class="h6 fw-light mb-0 text-body" href="{{path('app_logout') }}" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Sign out">
					<i class="fa-solid fa-arrow-right-from-bracket"></i>
					Déconnexion
				</a>
			</div>
			<!-- Sidebar footer END -->

		</div>
	</div>
</nav>
<!-- Sidebar END -->
